:root {
  --primaryColor: #1abd9c;
  --secondaryColor: #2d3e50;
}

.text__primary {
  color: var(--primaryColor);
}

.text__secondary {
  color: var(--secondaryColor);
}

.bg__primary {
  background-color: var(--primaryColor);
}

.bg__secondary {
  background-color: var(--secondaryColor);
}

.section-title {
  font-size: 3rem;
}